page-family {
	.bg{
		background: linear-gradient(to top,#7B68EE 0%, #fff 100%)
	}
	.master{
		height: 200px;
    	width: 60%;
    	
    	position: absolute;
	    top:0;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    margin: auto;
	}
}
